

<div class="slika">
    <div class="Baner">
        <h1 class="H11">Who are we?</h1>
               
    </div>
</div>

<div class="Onama">
    <h1 class="Fung">FUNGCLASS</h1>
    <p>We are team that had a dream. A 
        dream about being able to find all
         information about every single 
         fungus that exist in our world. 
         There is over 100 000 spices of 
         fungus and it is hard to find 
         information about them all. Our 
         goal is to change that! On this 
         site, you will find every 
         information about every 
         along with pictures and 
         other assets.</p>
</div>
