<div class="kartica">

    <h1>Naziv glive:</h1>
    <h2>Latinski naziv:</h2>
    <h3>Jestivost:</h3>
    <h3>Staniste:</h3>
    <h3>Nacin ishrane:</h3>
    <h3>Vreme rasta:</h3>
    <input type="textblock" class="ZAsad">
    <h3>Tip:</h3>
    <h3>Klasa:</h3>
    <h3>Red:</h3>
    <h3>Familija:</h3>
    <h3>Rod:</h3>
    <h3>Vrsta</h3>
</div>

<div class="slika">
<img src="/assets/Slika.jpg" alt="">

</div>

<div class="OPIS">
    <h2>Opis</h2>
    <p>AHKhdifsukdaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa,kslfzd;kdljkjvbsfalhjd;kSDLJFKHSIALSDJKDM,VC JBFDHIOJEPKEWEL'SD;KVKNJFSOERIPFIS'LD;LMVKNFGHIOERPIL;SD,LMVKNFJIGHREOJFPKSD;LMVDFKNHIOSKL;FMKJIDHOJKSLKJJLSSHKL</p>

</div>
